<!doctype html>

<html>
<head>
	<title> Home - RAVillaflores </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- javascript -->
	<script src="../js/jquery-3.4.1.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/bootstrap.bundle.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/Custom/main.css">


<script>
	$(document).ready(function () {

		if (document.location.href.indexOf("index") < 0 ) {
			alert(location.href);
			var url = "../";
			console.log("Found a file that isn't the home page.");

			var url = 

			$( "#tgtLayout" ).load( "../index.html #layout", function() {
				console.log("Should have loaded the layout."); // Callback optional here...
			});
		}

		$('#crslHeading').carousel({
			interval: 2000
		});

		

	});
</script>

	
</head>

<div class="form-group">
	<div id="tgtLayout">

	</div>

	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			Home 
		</div>
	</div>
	
	<!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-1 col-xl-3">
				Sample Text
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-3">
				<input class="form-control" type="text" placeholder="Sample Textbox" id="tbxLogin"/>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-1 col-xl-3">
				Test Line: 
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 col-xl-3" id="divTest">
				
			</div>
		</div>
	</div> -->
</div>
</html>
