.navbar {
    background-color: purple;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.title {
    text-align: center;
    margin-bottom: 700px;
}

.carousel-item {
    width: 100%;
    height: 500px; 
}	

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container { 
    max-width: 100%
}

.info {
    background-color: #000308;
    /* background-color: transparent; */
    color: white;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;  
}

.card:hover {
    background-color: #050112;
}

body {
    background-color: black;
    /* background-image: url('/images/bg_body.png');
    background-position: center;
    background-repeat: no-repeat; */
}

